<h2>Por pais</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input
                    type="text"
                    class="form-control"
                    name="termino"
                    [(ngModel)]="termino" placeholder="Buscar pais...">
        </form>
    </div>
</div>
<hr>
 

<div *ngIf="hayError" class="alert alert-danger">
    No se encontro con el termino {{termino}}.
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> # </th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises; let i = index;">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        <img class="small-flag" [src]="pais.flag" alt="">
                    </td>
                    <td>{{pais.name}}</td>
                    <td>{{pais.population | number}}</td>
                        <!-- SI lo colocamos entre llaves cuadradas quiere decir 
                            que vamos a construir la informacion de la ruta. 
                            Por ejemplo, necesito navegar al pais. -->
                        <!-- Para utilizar el RouterLink necesito importar el
                            RouterModule en el servicio mas cercano, que en este
                            caso el modulo de paises. -->
                        <a [routerLink] = "['/pais', pais.alpha2Code]">Link</a>
                </tr>
            </tbody>
        </table>
    </div>
</div>






