<div class="row container mt-4">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col">
        <!-- Este contenido debe de ser dinamico. 
            y para esto vamos a utilizar rutas.
        Rutas me dice que componentes deben de 
            mostrarse basados en la URL de nuestra aplicación.-->
        <!-- <h2>Por Capital</h2>    
        <app-por-capital></app-por-capital> -->
        <router-outlet></router-outlet>
    </div>
</div>




























